/* Typohraphy */
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  background-color: var(--color-main-background);
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --color-main-background: #f2f2f2;
  --color-main-white: #fff;
  --color-primary-blue: #007af3;
  --color-paragraph: #292826de;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}
h4 {
  font-size: 0.8rem;
}
p {
  font-size: 1.5rem;
  margin-top: 0;
}

/* Links */
a {
  text-decoration: none;
  color: var(--color-paragraph);
}

/* Lists */
li {
  list-style-type: none;
}
ul {
  padding: 0;
}
/* Navvigation Bar */
nav {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: var(--color-main-white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid var(--color-paragraph);
  padding: 0.5rem 5rem;
}
.art {
  color: var(--color-primary-blue);
}
.nav--links {
  position: relative;
  font-size: 1.5rem;
  font-weight: lighter;
  display: flex;
  width: 25%;
  justify-content: space-between;
  white-space: nowrap;
}
.nav--links > li:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
}
.burger {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .nav--links {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .nav--links {
    width: 25%;
  }
}
@media screen and (max-width: 400px) {
  .burger {
    display: inline;
  }
  .nav--links {
    display: none;
  }
}
/* Grid */
.container {
  padding: 5rem;
  width: 100vw;
  justify-content: center;
  align-content: center;
}
.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s;
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 15rem;
  }
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .image--one {
    grid-column: 2;
  }
}
/* Image Cards */
.image--card {
  text-align: center;
  overflow: hidden;
  background-color: #fff;
  border-radius: 20px;
}
.image--card:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}
.card__header {
  margin-top: 1rem;
}
.card__text {
  margin-bottom: 0;
}
.price {
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 0.5rem;
}
/* Buttons */
.btn {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid var(--color-paragraph);
  border-radius: 30px;
  outline: 0;
  background: transparent;
  padding: 2rem 3rem;
  width: 20rem;
  margin: 1.5rem;
  cursor: pointer;
}
.btn:hover {
  background: black;
  color: #fff;
}
.card__button {
  display: flex;
  justify-content: center;
}
/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 122, 243);
  background: linear-gradient(
    21deg,
    rgba(0, 122, 243, 1) 15%,
    rgba(154, 202, 250, 1) 87%,
    rgba(142, 234, 254, 1) 96%
  );
  height: 30vh;
}
.media-icons {
  padding-bottom: 2rem;
}
.copyright {
  font-size: 2rem;
  opacity: 65%;
}
.fa-facebook,
.fa-envelope,
.fa-instagram {
  color: #f3f3f3;
  padding: 2rem;
}
